<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	mo/tLv8scg8dmqlwUojjQPVQJrFCGMqCyCw2ywFNwggeY6SVd3puSIWjLjTlKZ72V2iy
	LPo3EV+5y8FDQArP+EtiEV6KBNbAECBXDvQxvi18a4+wV4u1ntkeBw12G2ghvwV4qm0o
	iU/gjlEDWe068dT80JjPa0PIB7/HFqPMRcc=
	</data>
</dict>
</plist>
