<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	sPThMRZFzGHhTdq+JjaqnHUfz7Wer8FOg3sn20dk0qqWk0xnE32NvkmfSnlVKmJ6eUjY
	FAktIPxYt6+fxOOqK3lxkLdRl0LCf7FqHmYOeGVVQH97MMExV8fMex4sDB7fxV4npo0Q
	nXs8HOcfLc74w589KCgVYKHj0J9kM3uf5Aw=
	</data>
</dict>
</plist>
