<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	kDDgZCbFmwqDGDsK25CCFAhjLHyWl7xr2Z8aIfBSHe34IcfhBsdj+ip338HDgyrpokQ3
	vyVkpEetccjbzGuyxHFxO0jVwK3EAaT0Crp2FbFi8+fSl02XrumztEdg5vg5UTDnoNp3
	PahLvNLyv75McX5PV2nxdEE9k1jW/peHoIc=
	</data>
</dict>
</plist>
