<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>action</key>
	<false/>
	<key>background</key>
	<false/>
	<key>category</key>
	<string>APPLESCRIPTS</string>
	<key>command</key>
	<string>on alfred_script(q)
tell application "System Events"	set rn to count (every process whose displayed name is "Transmit")end telltell application "Transmit"	activate	set countWindows to count every window	countWindows	if q is not "" then		if countWindows &gt; 0 then			set myFave to item 1 of (favorites whose (address is q) or (name is q))			if rn &gt; 0 then				tell current tab of (make new document at end)					connect to myFave				end tell			end if			if rn = 0 then				tell current tab of (document of first window)					connect to myFave				end tell			end if		end if	end ifend tell
end alfred_script</string>
	<key>disabled</key>
	<false/>
	<key>keyword</key>
	<string>ftp</string>
	<key>parameter</key>
	<integer>1</integer>
	<key>subtitle</key>
	<string>Connect to Transmit favorites by typing their name or hostname</string>
	<key>title</key>
	<string>Connect with Transmit </string>
</dict>
</plist>
