<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	PqnoQL4UxkyKzvqH//XVElhms210nPhXKlpI56ZAnAu2Qtsvckh/bfU9HQlIfepFhDs3
	1K29WjhC7IjiaVSBaf5s77b5Bx5/8SEcv57/S11LdefmuYxScJgpp+I1Z8FUDU+kN91m
	Giq38ztSknojuYRxNZAY42U52FnG/Tg22sA=
	</data>
</dict>
</plist>
