<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	OSsjU9uPKLgJ318Ku+SKpVhmxZR2oRJMaRcOQ12XjvH6YKkez8mcv0p3kysW62P9sWfg
	Y214Ltb4D7Gi+dNKUSAaRtVe3CKtc0zZCcZAj4B03xzMyp4DsnS8F5f9HJPeiWCAdbVN
	5JuwUrqabWSfCcCq+dmOht81fa5ZORqmr3E=
	</data>
</dict>
</plist>
