<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>action</key>
	<false/>
	<key>background</key>
	<true/>
	<key>category</key>
	<string>APPLESCRIPTS</string>
	<key>command</key>
	<string>tell application "Software Update"	activateend tell</string>
	<key>disabled</key>
	<false/>
	<key>keyword</key>
	<string>update</string>
	<key>parameter</key>
	<integer>0</integer>
	<key>subtitle</key>
	<string>Checks to see if any system/software updates are available</string>
	<key>title</key>
	<string>Update system software</string>
</dict>
</plist>
