<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>code</key>
	<string>A2SUZjc4OTJhYTRlMTEyA0QuHGy+j90CnAbxVGaGpQF9zFCPs/z9t6Qrl8cZpCXU32Qhqu0O4HGBcfR86satUWbMQ4cijFi+y3AQvkGJukXw2JZKL8jczKjCF9g4rBsOwE3DK2uP3bg/ud0ggwJFSfVvuBiB9vU/hAZ8xpF+lodxXmpQVSCjRH3Upeb3ttimpHigPysg</string>
	<key>email</key>
	<string>jtunick@web5design.com</string>
</dict>
</plist>
