<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	XNTeQVBKiAPt0QpzJvqOeJAk1x3UBodqNG27PyNSnpvHGuve/G8htQNxM5fzBsrMn2v7
	ClxTyKpAQ1WQGwkezTm1qIhINA6NQix0fmg5XGPiZwkcve5O8xsxcwnEUWcd6vg3FQdL
	Lf4Eh5HCvw77bQYJhnNkAYWJnYEvwOPbFbE=
	</data>
</dict>
</plist>
