<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	D4nFVf+MKtq2dpfs0+ltvWkx3+gPDFhE43SYPw9iv1eOi8myGK2aMQNL1qRrwIQSrnVb
	DNMqS21/YLHS9HlOhF0Ao3GnlYNRUW0OJgCiNUTxwVOPuzCa23hsVJFeRihnD6APD6ah
	vXz4Q2IUNhCcnztXJiczU0zJmPxRIJ/nUqM=
	</data>
</dict>
</plist>
