<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	FMs0XrVAycxVS65SWdkhlV+qBmMHNKLtGvo1punnFtEMuDWBYoz7szwthu52EVmt0C+5
	VofwQFg0duO0uuAZ2OzkAZb23RQ44VUkFWdbxcN5ge8Kv+G7qdVvFAhdCS00hXLZlm/O
	/wFjEW4xKaHTW1tXAN6mJIu9f7rU8gi31/A=
	</data>
</dict>
</plist>
