<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	oouMvHHmK5deZfqWBIDStqSmH/PGK1RK++OB1w8GAN2sFlYjIatKYRYrXEwDETD4Enti
	3YCSTQrh9js2RPGQcOuPudSjEIWcQIn2lnK6uFNoXKct/HLYLaRb0rv1Gt6R6FWhJsbB
	gKQVFW+3rGX1nbmLOanlOqxwyjVX8fvOu7w=
	</data>
</dict>
</plist>
