<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	Jy+5xgTNI9NqoiAs6mrEMReSk7OXbH3VM4e5xUPcMsAg2hUl0pxAJ5mrsCkLBikIcz8i
	PW31ctZmUyUXM1KACkrXVTe/dxy9fhcMT8SfZe+I6Alv19IpZ/83KeT/jNNid1BVOLQJ
	55HOR3e36Nj7/Gqj+4Msv/NekHoAle+ekpg=
	</data>
</dict>
</plist>
