<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	QOWWEKZLY2EwMJmfE9ieE2dMmwG20enqOICA0XiHmzM8asdPuWYQ/yjZrisPu5Lqauu8
	7tikXRK3bPhuTzYczWOyJm7IrswwABax42bjlu5H87uKUo56SVZe1lDFKyQFELaefjos
	yCUdEz63mNF9cKh401wKGb6oE841hWs5S2c=
	</data>
</dict>
</plist>
