<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	ogmViAjFDoSiPrwimWC9Wq+/33cDDLfZVe3BUkWB2plg/jhuG/XbVVJIlN8jEkbeYTL8
	GlCpa6s6BQmDBoz0txs3lL2ZWo5/Z8PV2gXEXs5va2gdMHqpDXabdCKKe8iQOfKz5a2O
	2juc2jabegqDJcKZhgOUZJqh08t1FtgyBpQ=
	</data>
</dict>
</plist>
