<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	DbU8R+DtM/5Z9o5rHIaFPq5OeUadZcxNT3RSktURcypkGE5GYHKRuNgDEiTOvp5LglN0
	CfAvl987Nv78zHdyN8oiwGSLMDBGXCd4Dz2TomSx3tV/GxMnJaTWQHV7UtepwQWCP3+R
	MXBdN5p54jvyF+HaLTcp/aWj7cOcfmkywAs=
	</data>
</dict>
</plist>
