<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	j/Rv6bt1AIBgytow01NWoKS102LN4qCQdOSOH30KXxbcpufym+n03m8zZ3/1Tji5pthO
	eKIxydIB/tXeaNa574Uxacmtq4cpRFGuJnG125XkugET4T6eZA64C9uEAOcObnUYbMI8
	6qnmY4IuX+BSEitwAQrgBqqmXGvmR4pYEC8=
	</data>
</dict>
</plist>
