<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	gaXPngP3DVxFyLhKiakDr7Hjh6JmGoc8AMwWcX0FkspRhmFDpDQsScCItd6TcrJtia78
	mcmIdLHVeMS2qgP6fOexk+mKHHmFWU1vMWDcAm4TjL8vwtjjAD1hWFKU6qi/KAZ5dNZw
	Q6T+05xbfBV2bGmt/rBWHT/JuktpQ6aterE=
	</data>
</dict>
</plist>
