<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	J8uM4P5jzeQ+NXCqTkkxNM6PT208vmfRmrIEd+Nh7TShiviCyyk1KLk6lrJqW7OxORpD
	xWnu2BuYyJITHCeS3xhgzQmRKve5fzYFtLJLbrX8q0ZJYN5FZIjTXSptU2L1VYy+Pgp9
	CmMrXUVdh+TxIPIwWCLrjrqkJYB37Nb4Wto=
	</data>
</dict>
</plist>
