<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>AppleScript File</key>
			<string>sublime.applescript</string>
			<key>Title</key>
			<string>Sublime</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Create Sublime doc</string>
	<key>Extension Identifier</key>
	<string>com.web5.popclip.extension.sublime</string>
	<key>Extension Name</key>
	<string>Sublime</string>
	<key>Required Software Version</key>
	<integer>701</integer>
</dict>
</plist>
