<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>action</key>
	<false/>
	<key>background</key>
	<true/>
	<key>category</key>
	<string>APPLESCRIPTS</string>
	<key>command</key>
	<string>on alfred_script(q)
say q
end alfred_script</string>
	<key>disabled</key>
	<false/>
	<key>keyword</key>
	<string>say</string>
	<key>parameter</key>
	<integer>0</integer>
	<key>subtitle</key>
	<string>Make your Mac say what you type</string>
	<key>title</key>
	<string>Speak</string>
</dict>
</plist>
