<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	a5ype/EgOgX/4upDwn+3l/bZRdflK7sfzpzh62K27Bo9h+pWRnwmngDCt9ms4dz2+SN9
	uB3FyxPwqjrKkQjRRy5OcA4DIhmCPT8I/SxxxxQYvSKm+3Q6iq6Gou08WnUXfUAdc/Kx
	Ymh5qCDKxd5LlLH21nB3SMHz8gyCuoiQWoA=
	</data>
</dict>
</plist>
