<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	bIMAayAN4CTiShX1OY0CrQfpZgjQTqD8TH2XQpT7Uq47+WsjlF1pgbK1DKt2xGryL7k7
	2dfbENh1K9kwTyzgWCMl9nvNuUjAW3Kk+FWjlgkf9hmGhRoRgdc49ucHu7RYhFSjluNp
	QionSUqqWz/XoQkWEfWBaUyGGO3TlmZVaOc=
	</data>
</dict>
</plist>
