<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	lC77Ss1InDEFdYdpyl2ZzgS+oMoetw/DxqAUHVpthf8Y71ZPypSmO91qrDcdZxgM3Jmp
	fZF3fNHbleeOtyQ6SxtKe+om4T8cTIsZKHH7MosIJIw4LWd9EGjB8BDZKsFakV7NPiJg
	5MkQmU0Jb7QMdarB92urk+MECJ8asBeodTQ=
	</data>
</dict>
</plist>
