<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	suZkQsGGFQxNXHTVjJdlLwE1GLcrvpMrIhWdOMbAocOvOQX7b9vU1ofRZ7EIJwLKoGGK
	WD0MFyrcUMyu0jShfzYPe3pek7ngLZgqiR1zEuvuP2VgTQLasGwdPY3oCUu37sDZtOQq
	JBInmWafOVjLJMtT+qbKjt5dEbzM/ERHU5o=
	</data>
</dict>
</plist>
