<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	aQBzzsGRnwEuAxRbD7PXwwh27tmGADdYrmRZ3dsrkssIdoC3P3xGcvudnLLxFfVOdsTu
	EBVWzLLHOeW6rmZFnsmBHu1JauaksA7E/6vhmeEJ8j5gsGvb4GKklvQ7wyeLWs4swSPG
	pwzqr8dWFLDtPBHdx7uXWEAQK+T+Aegnzy4=
	</data>
</dict>
</plist>
