<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	XHLDZgY4w14nfKjYRh6Xo4Go8P7kv09M4q2mAOn1YGPQmkt0Zdw7gUzBEzUMiNnWzDCf
	DYVzj6rjuJSZOJmjzaydtExFelTpAEE5DXVwVt2cRMritFw5meo/7N8GCjisJEdRfQx4
	PT66GCmyefxpcZ+qwsdMOQK4DbVVTIvuOns=
	</data>
</dict>
</plist>
