<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	TFn2JQu6tBbuaDC+c5hHvCcgK6opbzI2Kwf+2Fy1/4k/n7cxA8yZSbt1IeTQtE0bCd/O
	7rpXFzgpYx/L2ca8YQrA89e3awNKECj9y2cVZhgB/VYO86cRpoPwigJMVdWvGO8FZ2pm
	XUx58Pt22imaieYCUNjl2l2ljao2ovzLdB4=
	</data>
</dict>
</plist>
